@import "tailwindcss";
@font-face {
    font-family: 'Netflix';
    src: url("../fonts/Bebas-Regular.ttf");
}

@font-face {
    font-family: 'Title';
    src: url("../fonts/Yellowtail-Regular.ttf");
}

@font-face {
    font-family: 'NetflixSans';
    src: url("../fonts/NetflixSans.ttf");
}
@font-face {
    font-family: 'Digit';
    src: url("../fonts/DS-DIGI.TTF");
}

.side-icon{
    @apply fill-white w-7 h-7;
}

.tweet-icon{
    @apply fill-sky-500 w-5 h-5;
}

.mobile-side-icon{
    @apply fill-white w-6 h-6;
}

.without-ring {
    @apply focus:ring-0 focus:ring-offset-0;
  }

    
    